img[alt*="welcome"]{
	vertical-align: middle;
	margin: auto;
	display: block;
}

header {
	background-color: #302f2f;
	text-align: center;
	color: #39ff14;
	margin: 0;
	width: 100%;
	display: block;
}

body {
	margin: auto;
	width: 100%;
	display: block;
}

h1 {
	display: inline-block;
	vertical-align: middle;
}

em {
	display: inline-block;
	vertical-align: middle;
}
.instructions-wrapper{
	border: .25em black solid;
	margin-left: 10em;
}

img[alt*="jane"] {

	height: 10em;
	width: 12em;
	padding-top: .45em;
	padding-left: 20em;
}

.instructions-content{
	text-align: left;
	float: left;
	padding-left: 1em;
}

.instructions-content > h2 {
	padding-left: 1em;
}

.about-me {
	background-color: blue;
	padding: 2.5em 5em 5em 5em;
	margin-top: 2em;
	color: white;
}

img[alt*="picard"]{
	float: left;
	height: 15em;
	width: 18em;
	padding-right: 2em;
}

p{
	color: white;
}

span{
	color: yellow;
	font-style: italic;
}

table {
	margin-left: 15em;
	display: block;
	text-align: left;
	background-color: #302f2f;
	color: #39ff14;
	border-spacing: 1em;
	border-collapse: collapse;
	border:.25em white solid;
}

.container > h2 {
	text-align: center;
}

td {
	padding-right: 10em;
	width: 14em;
	border-spacing: 1em;
	border-collapse: separate;
	border: .25em white solid;
	padding-top: 1em;
	padding-bottom: 1em;
}

th{
	padding-right: 10em;
	width: 14em;
	border-spacing: 1em;
	border-collapse: separate;
	border: .25em white solid;
	padding-bottom: 1em;
	padding-top: 1em;
}

tr{
	border-spacing: 1em;
	border-collapse: separate;
	border: .25em white solid;
}